@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.kahiniolekhok {
    display: flex;
  justify-content: space-between;
  width: 100%;
  }
  .kahinii{
   float:right;
   position: relative;
   overflow-y: scroll;
   width: 80%;
    padding: 10px;
    display: flex;
}
 .kahinii p{
    text-align:left;
   color: #fff;
    margin: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 15px;
 }
 .kahinilekhok{
   position: fixed;
    color:#fff;
    overflow: hidden;
    padding: 10px;
    border-color: #fff;
    border-style: solid;
    height: fit-content;
    border-radius: 15px;
    float:right;
    width: 20%;
 }
