@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.kahiniolekhok {
    display: flex;
  flex-direction: row;
  }
  .kahinii{
   
   position: relative;
   
   width: 70%;
    padding: 10px;
}
 .kahinii p{
    text-align:left;
   color: #fff;
    margin: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 15px;
 }
 .kahinilekhok{
   position: fixed;
   right: 0;
    color:#fff;
    overflow: hidden;
    padding: 10px;
    border-color: #fff;
    border-style: solid;
    height: fit-content;
    border-radius: 15px;
    width: 25%;
    margin:35px;
    margin-right: 20px;
 }
