@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: i;
  }
  
  .form-container {
    width: 25%;
    height: 65%;
    padding: 30px;
    background:transparent;
    
    border-radius: 20px;
    border: 1px solid white;
  }

 
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color:#fff;
    font-size: 30px;
  }
  
  
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: transparent;
    color: #000;
    border-style:none;
    border-bottom: 2px solid grey;
    }
  input[type=submit] {
    background-image: linear-gradient(to right, rgb(149, 10, 100), rgb(197, 6, 38));
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .logsub{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(207, 40, 126);
  }
  
 .sin1{
  margin-left: 40px;
  margin-bottom: 60px;
  width:45%;
  border: none;
  height:35px;
  border-radius: 20px;
  font-size:20px;
  background-image: linear-gradient(to right, rgb(149, 10, 100), rgb(197, 6, 38));
  color:white;
  text-align: center;
 }
 .sup1{
  margin-left: 40px;
  margin-bottom: 60px;
  width:45%;
  height:35px;
 text-decoration: none;
  font-size:20px;
  background:transparent;
  color:rgb(71, 69, 69);
  cursor: pointer;
   }
   .sup1:hover{
    color:blue;
   }

   .sin2:hover{
    color:blue;
   }
 .sup2{
  margin-left: 28px;
  text-align: center;
  margin-bottom: 20px;
  width:45%;
  height:35px;
  border: none;
  border-radius: 20px;
  font-size:20px;
  background-image: linear-gradient(to right, rgb(149, 10, 100), rgb(197, 6, 38));
  color:white;
 }
 .sin2{
  margin-left: 40px;
  margin-bottom: 60px;
  width:45%;
  height:35px;
 text-decoration: none;
  font-size:20px;
  background:transparent;
  color:rgb(71, 69, 69);
  cursor: pointer;
 
 }
 
  
  @media screen and (max-width: 500px) {
    .form-container {
      width: 90%;
    }
  }

  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }
  
  .rememberMe {
    display: flex;
    align-items: center;
    padding-left: 2px;
    color: rgb(198, 14, 75);
  }
  
  .rememberMe input[type=checkbox] {
    margin-right: 5px;
    padding-left: 2px;
  }
  
  .forgot-password {
    color:rgb(198, 14, 75);
    text-decoration: none;
    padding-left: 2px;
  }
  .forgot-password:hover {
    color:blue;
  }
  .rmbr{
    color:blue;
    background: blue;
  }

  
  
  
  .closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  