.contain{

  padding: 8px;
}

.ek{
  letter-spacing: 1px;
  height: 100px;
  padding: 10px;
justify-content: center;
align-items: center;
margin: 18px;
border-radius: 25px;
}
.probs{
  background-image:linear-gradient(to right, black, rgb(37, 35, 35), rgb(92, 86, 86));
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    height: fit-content;
  padding: 20px;
  float:left;
  width: 55%;
  border-top-right-radius: 25px;
  margin-left: 27px;
   
}
.probs p{
  color: white;
}

.probs h{
    font-size: 2rem;
    color: rgb(122, 128, 137);
    text-align: center;
}

.ans{
    float: left;
    margin-left: 130px;
    
}
.write{
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
    background: rgb(218, 209, 209);
    color:black;
    height:70px;
}
.ek h2{
  margin-left: 130px;
  margin-bottom: 20px;
  float:left;
  color:#fff;
}

.reg{
        height: 25px;
        width: 15px;
        color: #fff;
        background: rgba(21,21,100);
        transition: 0.5s ease;
        padding: 7px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 5px;

}
.reg:hover{
  background: rgb(215, 21, 183);
}

.mathinline{
  font-size: 1.2rem;
  color: #fff;
}