
.left, .right{
  letter-spacing: 1px;
  height: fit-content;
background-color: #ffcbab;
padding: 10px;
border: 5px solid grey; 
display: inline-block;
justify-content: center;
align-items: center;
}

.left{
float: left;
width: 45%;
margin: 1rem;
}

.right{
  float: right;
width: 45%;
margin: 1rem;
}

.probs p{
color: #000;
font-size: 1.2rem;
}

a{
      padding-top: 10px;
      font-size: 2rem;
      color: #008;

  }
 a:hover::after{
    font-size: 2rem;
      color: #008;
  }
a:hover{
  font-size: 2rem;
    color: red;
  }


  