.contain{

  padding: 10px;

}
.probs{
    background-color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 800px;
    height: fit-content;
  background-color: #ffcbab;
  padding: 10px;
  margin-bottom: 1em;
  margin-right: 800px;
  margin-left: 40px;
  margin-top: 20px;
  border: 5px solid grey;
    
}
.probs p{
  color: #000;
}

.probs h{
    font-size: 2rem;
    color: navy;
}

.ans{
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 30px;
    height: 90px;
}
.write{
    width: 720px;
    height: 30px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 20px;
}

.reg{
        height: 25px;
        width: 15px;
        color: #fff;
        background: rgba(21,21,100);
        transition: 0.5s ease;
        padding: 7px;
        text-decoration: none;
        font-size: 20px;
}
.reg:hover{
  background: rgb(215, 21, 183);
}