
.left, .right{
  letter-spacing: 1px;
  height: fit-content;
background-color: transparent;
padding: 10px;
border: 5px solid grey; 
display: inline-block;
justify-content: center;
align-items: center;
border-radius: 5px;
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.left{
float: left;
width: 45%;
margin: 1rem;
}

.right{
  float: right;
width: 45%;
margin: 1rem;
}

.probs p{
color: #fff;
font-size: 1.2rem;
}

a{
      padding-top: 10px;
      font-size: 2rem;
      color: grey;

  }
 a:hover::after{
    font-size: 2rem;
      color: grey;
  }
a:hover{
  font-size: 2rem;
    color: rgb(0, 94, 255);
  }


  