@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    
}

body{
    font-family: 'Poppons', sans-serif;
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35,35,85);
}
span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24,24,49);
}

nav{
    height:100px;
  width: 100%;
    color: #fff;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px;
    align-items: center;
    margin-top: -20px;
}
nav h4{
    float: left;
    color: white;
    font-size: 32px;
    padding-top: 12px;
}
nav h4:hover{
    transition: 0.5s ease;
    transform:scale(1.05);
}

nav img{
    height:55px;
    width:55px;
    cursor:pointer;
    float: left;
    padding-top: 8px;

}

nav img:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}

 nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items:end;
 }

 nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
    padding-top: 19px;

 }

 nav .navigation ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
 }
 nav .navigation ul li a:hover{
    color:#000;
    background: #fff;
 }

 nav .navigation ul li:hover{
    transition: 0.3s ease;
    transform: scale(1.08);

 }

 .kahini{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .kahini p{
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    
    left:10%;
    top:20%;
    width: 1250px;
    height: 500px;
    border: 5px solid gray;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 }


#home{
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}


#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home .btn{
    margin-top: 30px;
    padding: 7px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue{
    color: #fff;
    background: rgba(21,21,100);
    transition: 0.5s ease;
}
#home a.blue:hover{
    color: rgba(21,21,100); 
    background: #fff;
    transform: scale(1.3);
}

#home a.yellow{
    color: #fff;
    background: #d344be;
    transition: 0.5s ease;
}
#home a.yellow:hover{
    color: #d344be;
    background: #fff;
}

.loginn{
    width:100%;
    color: #fff;
    background: rgba(21,21,100);
    transition: 0.5s ease;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height:45px;
    font-size: large;
}
.loginn:hover{
   background: #d344be;
}

#join{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 140px;
    margin: auto;
    
    margin-bottom: 20px;
}
#join a{
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    line-height: 120px;
    
}

.up h1{
    text-align: center;
    color:#fff;
    font-size: 50px;
}
#join i{
    transition: all 0.2s linear;
    font-size: 40px;
    padding: 27%;
    padding-left: 25%;
}
#join i:hover{
    transform: scale(1.4);
}
#join a:hover{
    transform: scale(1.1);
   background:#fff;
   border-color:transparent;
}

.fa-facebook{
    color: blue;
}


.fa-facebook-f{
    color: rgb(11, 60, 144);
}


.fa-telegram{
    color: #0f70a0;
}

.fa-discord{
    color: #5865F2;
}
.fa-envelope{
    color: rgb(235, 78, 21);
}

.fa-youtube{
    color:red;
}

.blue{
    text-decoration: none;
    font-size: 0.9rem;
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    color: white;
    background: transparent;
}
#experts{
    padding: 8vw 8vw 6vw 8vw;
    text-align: center;
    
}
#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 1.5rem;
    margin-top:50px;
    
    
}
#experts h1{
    color: #fff;
}

#experts p{
    color: grey;
}


#experts .expert-box .profile{
    background: transparent;
    padding: 30px 10px;
    width: 300px;
    height: 320px;
    margin:auto;
    color: white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#experts .expert-box .profile:hover{
    transform: scale(1.03);
    transition: 0.5s ease;
    background: #221394;
}

 .chobi{
    border-radius: 50%;
    width:200px;
    height: 200px;
}

.nam{
    padding-top: 10px;
    line-height: 1.0;
    color:#fff;
}

 .pro-links{
    margin-top: 8px;
    
}
.profile p{
    color:grey;
}

.pro-links i{
    color:  #fff;
    border: 4px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
    
}
.pro-links i:hover{
    background: #fff;
    color:#221394;
    border: 5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
