.expandable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
  }

  .expandable-header {
    cursor:pointer;
  }
  
  .expandable-section.active .expandable-content {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
    
  }
  